<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.heriberto.crash">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/crashpromo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/crashpromo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".vistas.CrearProductoActivity"
            android:label="@string/title_activity_crear_producto"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".vistas.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".vistas.verProductos"
            android:label="@string/title_activity_ver_productos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".vistas.verAlmacenes"
            android:label="@string/title_activity_ver_almacenes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".vistas.RegistrarActivity"
            android:label="@string/title_activityRegistrarUser" />
        <activity
            android:name=".vistas.EditarProductoActivity"
            android:label="@string/title_activity_editar_producto"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".vistas.VistaAdminActivity"
            android:label="@string/title_activity_vista_admin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".vistas.ProductosAdminActivity"
            android:label="@string/title_activity_productos_admin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".vistas.CategoriasAdminActivity"
            android:label="@string/title_activity_categorias_admin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".vistas.UsuariosAdminActivity"
            android:label="@string/title_activity_usuarios_admin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".vistas.AlmacenesAdminActivity"
            android:label="@string/title_activity_almacenes_admin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".vistas.CrearUsuariosActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>